<div class="container">
    <h1 class="text-center">Insert Director Details</h1><br>
    <hr><br>
    <form [formGroup]="directorForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Director Name :</label>
        <input type="text" [class.is-invalid]="directorForm.get('directorName').invalid &&
        directorForm.get('directorName').touched" formControlName="directorName" class="form-control" placeholder="Enter director name">
        <small class="text-danger" [class.d-none]="directorForm.get('directorName').valid ||
        directorForm.get('directorName').untouched">director name is required</small> 
      </div><br>

      <div class="form-group">
        <label>Director Age : </label>
        <input type="text" [class.is-invalid]="directorForm.get('directorAge').invalid &&
        directorForm.get('directorAge').touched" formControlName="directorAge" class="form-control" placeholder="Enter director age">
        <small class="text-danger" [class.d-none]="directorForm.get('directorAge').valid ||
        directorForm.get('directorAge').untouched">director age is required</small> 
      </div><br>

      <label>Director Gender : </label>
      <div>
        <input type="radio" value="male" formControlName="directorGender">
        <label>&ensp;Male</label>
      </div>

      <div>
        <input type="radio" value="female" formControlName="directorGender">
        <label>&ensp;Female</label>
      </div>
      <div>
        <input type="radio"  value="other" formControlName="directorGender">
        <label>&ensp;Other</label>
      </div><br>

      <div class="form-group">
        <label>No. of Awards :</label>
        <input type="text" [class.is-invalid]="directorForm.get('directorAwards').invalid &&
        directorForm.get('directorAwards').touched" formControlName="directorAwards" class="form-control" placeholder="Enter no. of awards director recevied">
        <small class="text-danger" [class.d-none]="directorForm.get('directorAwards').valid ||
        directorForm.get('directorAwards').untouched">no. of awards is required</small> 
      </div><br>

      <div class="text-center">
        <button type="submit" [disabled]="directorForm.invalid" class="btn btn-dark">Submit</button>
      </div><br>
    </form> 
  </div>
