<h2 class="text-center">Director Details</h2>
<hr>
<div class="container text-center">
    <h6 class="display-6">
        Director Name : <strong>{{director.directorName}}</strong><br><br>
        Director Age : <strong>{{director.directorAge}}</strong><br><br>
        Director Gender : <strong>{{director.directorGender}}</strong><br><br>
        No. of Awards : <strong>{{director.directorAwards}}</strong><br><br>
    </h6>
</div><br>

<h4 class="text-center">Director Movies :-</h4>
<div class="container m-3 p-4 film mx-auto" *ngFor="let film of films">
        Film Name : <strong>{{film.filmName}}</strong><br><br>
        Film Collection : <strong>{{film.filmCollection}}</strong><br><br>
        Film Rating : <i class="fa fa-star" aria-hidden="true"></i><strong>&ensp;{{film.filmRating}}</strong><br><br>
</div>

